
<div>
    Contactanos

    <form action="" method="post">

        <ul>
            <li>
                <label for="name">Nombre:</label>
                <input type="text" id="name" name="User_name">
            </li>
            <li>
                <label for="email">Correo Electronico:</label>
                <input type="text" id="email" name="User_email">
            </li>
            <li>
                <label for="msg">Mensaje:</label>
                <input type="text" id="msg" name="User_message">
            </li>
        </ul>

       <button type="submit">Enviar</button>
    
    </form>
</div>